@font-face {
  font-family: "RobotoRegular";
  src: url(../../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "RobotoBold";
  src: url(../../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "RobotoMedium";
  src: url(../../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "RobotoLight";
  src: url(../../assets/fonts/Roboto-Light.ttf);
}

* {
  box-sizing: border-box;
  font-family: "RobotoRegular";
}

/* HEADER SECTION */

header {
  min-height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 220px;
  background: #000000;
  backdrop-filter: blur(2px);
  color: #FFFFFF;
}

.header-logo {
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  max-width: 82px;
  max-height: 52px;
  position: relative;
  cursor: pointer;
}

.header-logo h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  margin: 0;
  padding: 3.55px 4.75px;
}

.header-logo a {
  text-decoration: none;
  color: #FFFFFF;
}

.header-logo img {
  position: absolute;
  top: 45%;
  left: 12%;
}

.header-navigation {
  width: 100%;
  margin-left: 63px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-navigation ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 58px;
  padding: 0;
}

.header-navigation a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}

.header-navigation ul li:first-child {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-navigation a:hover {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: #FFFFFF;
  min-width: 105px;
  cursor: pointer;
}

.header-link:hover {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* WATCH SECTION */

.watch {
  background-image: url(../../assets/images/Giant_Panda.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 780px;
}

.watch-block {
  position: absolute;
  top: 92px;
  right: 219.69px;
  width: 500px;
  height: 100%;
}

.watch-block h2 {
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  left: 73px;
}

.watch-block span {
  color: #FFEE2E;
}

.watch-circle {
  position: absolute;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  width: 465px;
  height: 465px;
  border-radius: 50%;
}

.watch-button {
  z-index: 1;
  width: 298px;
  height: 54px;
  position: absolute;
  bottom: 100px;
  right: 319px;
  border: none;
  padding: 16px 0px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  transition: .3s ease;
}

.watch-button:hover {
  transition: .3s ease;
  background: #E47209;
}

.watch-button:active {
  transition: .3s ease;
  background: #4B9200;
}

.watch-button:disabled {
  background: #767474;
  cursor: default;
}

/* BACKSTAGE SECTION */

.backstage {
  position: relative;
}

.backstage-body {
  display: flex;
  justify-content: center;
  gap: 87px;
  max-width: 1161px;
  margin: 140px 220px 180px 219px;
}

.backstage-text h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333B41;
  margin: 0;
  margin-bottom: 20px;
}

.backstage-text h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin: 0;
  margin-top: 54px;
  margin-bottom: 34px;
}

.backstage-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}

.backstage-flower {
  position: absolute;
  right: 0;
  top: -106px;
}


/* PETS SECTION */

.pets {
  position: relative;
}

.pets-flower_left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.pets-flower_right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.pets-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pets-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.pets-list__grid {
  max-width: 1158px;
  height: 872px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(366px, 1fr));
}

.pets-card {
  max-width: 366px;
  max-height: 366px;
  border: 1px solid #F9804B;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: transform 1s;
}

@keyframes text {
  0% {
    max-height: 366px;
  }

  30% {
    max-height: 370px;
  }

  50% {
    max-height: 380px;
  }

  70% {
    max-height: 400px;
  }

  90% {
    max-height: 410px;
  }
}

.pets-card:hover {
  transform: scale(1.1);
  max-height: 426px;
  animation: text .5s linear;
}

.pets-card img {
  max-width: 366px;
  max-height: 366px;
}

.card {
  z-index: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 12px 14px 16px;
}

.card-text h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.card-text span {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
}

.pets-arrow {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27px;
  cursor: pointer;
  transition: .3s ease;
}

.pets-arrow:active {
  background: #4B9200;
}

.pets-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #FE9013;
  border-radius: 25px;
  border: none;
  width: 298px;
  height: 54px;
  cursor: pointer;
  margin-top: 80px;
  margin-bottom: 100px;
  transition: .3s ease;
}

.pets-button:hover {
  transition: .3s ease;
  background: #E47209;
}

.pets-button:active {
  transition: .3s ease;
  background: #4B9200;
}

.pets-button:disabled {
  background: #767474;
  cursor: default;
}

/* FRIENDS SECTION */

.friends {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%,
      #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  display: flex;
  justify-content: center;
}

.friends-wrapper {
  max-width: 1160px;
  max-height: 835px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  margin: 69px 0px 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.friends-wrapper h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
  text-align: center;
  margin: 0;
  margin-top: 41px;
}

.friends-text h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin: 30px 218px 40px 99px;
}

.friends-text span {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  margin: 0px 0px 10px 99px;
}

.friends-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  margin: 0px 198px 0px 99px;
}

.friend-text p,
a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  cursor: pointer;
  text-decoration-color: #FE9013;
}

.friend-text p,
a:hover {
  color: #4B9200;
  text-decoration-color: #4B9200;
}

.friends-wrapper h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
  margin: 0;
  margin-top: 60px;
  margin-bottom: 40px;
}

.friends-map {
  display: flex;
  gap: 30px;
  align-items: center;
}

.card-arrow {
  padding-bottom: 60px;
}

.map-card {
  max-width: 168px;
  max-height: 244px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.map-card span {
  width: 100%;
  height: 46px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}

.card-img {
  max-height: 168px;
  max-width: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 54px 30px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #FE9013;
}

.help-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #FE9013;
  border-radius: 25px;
  border: none;
  width: 298px;
  height: 54px;
  cursor: pointer;
  margin-top: 60px;
  margin-bottom: 60px;
  transition: .3s ease;
}

.help-button:hover {
  transition: .3s ease;
  background: #E47209;
}

.help-button:active {
  transition: .3s ease;
  background: #4B9200;
}

.help-button:disabled {
  background: #767474;
  cursor: default;
}

/* TESTIMONIALS SECTION */

.testimonials {
  display: flex;
  justify-content: center;
  position: relative;
}

.testimonials-background {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
}

.testimonials-wrapper {
  max-width: 1160px;
  height: 575px;
  margin-top: 140px;
  margin-bottom: 204px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.testimonials-wrapper input[type='range'] {
  width: 599px;
  height: 8px;
  -webkit-appearance: none;
  border-radius: 5px;
  border: double 2px transparent;
  background-image: linear-gradient(#F5F7F6, #F5F7F6),
    linear-gradient(90deg, rgba(254, 189, 171, 0.74), rgba(243, 169, 248, 0.66), rgba(224, 216, 240, 1), rgba(234, 247, 254, 1), rgba(234, 247, 254, 1));
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: 0 auto;
  margin-top: 21px;
}

.testimonials-wrapper input[type='range']::-webkit-slider-thumb {
  height: 8px;
  width: 20%;
  border-radius: 5px;
  padding: 1px 0px;
  background: #FE9013;
  cursor: pointer;
  -webkit-appearance: none;
}

.testimonials-wrapper h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #333B41;
  margin: 0 auto;
  margin-bottom: 47px;
}

.testimonials-flex {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.testimonials-card {
  max-width: 268px;
  max-height: 391px;
  background: #F1F3F2;
  border-radius: 20px;
  border: double 2px transparent;
  background-image: linear-gradient(#F1F3F2, #F1F3F2),
    linear-gradient(90deg, rgba(254, 189, 171, 0.74), rgba(243, 169, 248, 0.66), rgba(224, 216, 240, 1), rgba(234, 247, 254, 1), rgba(234, 247, 254, 1));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.testimonials-card p {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
  margin: 10px 15px 19px 16px;
}

.testimonials-card_head {
  display: flex;
  gap: 10px;
  margin: 15px 0px 0px 16px;
}

.testimonials-card_head h6 {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}

.testimonials-card_head span {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}

.testimonials-button {
  width: 298px;
  max-height: 54px;
  background: #FE9013;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 16px 0px;
  border: none;
  cursor: pointer;
  transition: .3s ease;
  margin-top: 31px;
}

.testimonials-button:hover {
  background: #E47209;
  transition: .3s ease;
}

.testimonials-button:active {
  background: #4B9200;
  transition: .3s ease;
}

.testimonials-button:disabled {
  background: #767474;
  cursor: default;
}

/* FOOTER SECTION */

footer {
  background: #111115;
  width: 100%;
  height: 443px;
  padding: 41px 220px 50px 220px;
}

.footer-first {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.first_subscribe h5 {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 14px;
}

.first_subscribe input[type='email'] {
  width: 228px;
  height: 42px;
  padding: 10px;
  background-color: #111115;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
  border: .7px solid rgba(249, 128, 75, 1);
  border-radius: 2px;
}

.first_subscribe input[type='email']:focus {
  outline: none;
  border: .7px solid #4B9200;
}

/* .first_subscribe input[type='email']:invalid {
  color: #D31414;
  border: .7px solid #D31414;
} */

.first_subscribe button {
  max-width: 129px;
  max-height: 42px;
  padding: 10px 39px;
  background: #F1F3F2;
  border: 1px solid #D31414;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #D31414;
  margin-left: 10px;
  cursor: pointer;
}

.first_subscribe button {
  max-width: 129px;
  max-height: 42px;
  padding: 10px 39px;
  background: #F1F3F2;
  border: 1px solid #000000;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin-left: 10px;
  cursor: pointer;
  transition: .3s ease;
}

.first_subscribe button:active {
  max-width: 129px;
  max-height: 42px;
  padding: 10px 39px;
  background: #F1F3F2;
  border: 1px solid #4B9200;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #4B9200;
  margin-left: 10px;
  cursor: pointer;
}

.testimonials-button {
  width: 298px;
  max-height: 54px;
  background: #FE9013;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 16px 0px;
  border: none;
  cursor: pointer;
  transition: .3s ease;
  margin-top: 31px;
}

.testimonials-button:hover {
  background: #E47209;
  transition: .3s ease;
}

.testimonials-button:active {
  background: #4B9200;
  transition: .3s ease;
}

.testimonials-button:disabled {
  background: #767474;
  cursor: default;
}

.footer-second {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 44px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 10px;
  margin: 0;
}

.footer-links li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  flex-direction: row;
  cursor: pointer;
}

.footer-links a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  cursor: pointer;
  transition: .3s ease;
}

.footer-links a:hover {
  color: #4B9200;
}

.footer-links div {
  width: 26px;
  height: 26px;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease;
}

.footer-links div:hover {
  background: #4B9200;
}

.footer-navigation {
  max-width: 362px;
  display: flex;
  justify-content: space-between;
  gap: 58px;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.footer-navigation a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}

.footer-navigation li:first-child {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.footer-navigation a:hover {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.footer-second_link {
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  min-width: 220px;
  text-decoration: none;
  cursor: pointer;
  transition: .3s ease;
}

.footer-second_link:hover {
  text-decoration: underline;
  color: #4B9200;
}