@font-face {
    font-family: "RobotoRegular";
    src: url(../../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "RobotoBold";
    src: url(../../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "RobotoMedium";
    src: url(../../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "RobotoLight";
    src: url(../../assets/fonts/Roboto-Light.ttf);
}

* {
    box-sizing: border-box;
    font-family: "RobotoRegular";
}

/* HEADER SECTION */

header {
    min-height: 80px;
    width: 100%;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 220px;
    background: #000000;
    backdrop-filter: blur(2px);
    color: #FFFFFF;
}

.header-logo {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    max-width: 82px;
    max-height: 52px;
    position: relative;
    cursor: pointer;
}

.header-logo h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    margin: 0;
    padding: 3.55px 4.75px;
}

.header-logo a {
    text-decoration: none;
    color: #FFFFFF;
}

.header-logo img {
    position: absolute;
    top: 45%;
    left: 12%;
}

.header-navigation {
    width: 100%;
    margin-left: 63px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-navigation ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 58px;
    padding: 0;
}

.header-navigation a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

.header-navigation ul li:nth-last-child(2) {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header-navigation a:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    color: #FFFFFF;
    min-width: 105px;
    cursor: pointer;
}

.header-link:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* WATCH SECTION */

.watch {
    background-image: url(../../assets/images/panda_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    /* z-index: -1; */
    width: 100%;
    height: 390px;
}

/* FRIEND SECTION */

.friend {
    width: 100%;
    display: flex;
    justify-content: center;
    background:
        linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
        linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
        linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.friend-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1156px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.friend-text h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 0;
}

.friend-text p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 0;
}

/* FOOTER SECTION */

footer {
    background: #111115;
    width: 100%;
    height: 443px;
    padding: 41px 220px 50px 220px;
    position: relative;
    bottom: 0;
}

.footer-first {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.first_subscribe h5 {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 14px;
}

.first_subscribe input[type='email'] {
    width: 228px;
    height: 42px;
    padding: 10px;
    background-color: #111115;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
    border: .7px solid rgba(249, 128, 75, 1);
    border-radius: 2px;
}

.first_subscribe input[type='email']:focus {
    outline: none;
    border: .7px solid #4B9200;
}

/* .first_subscribe input[type='email']:invalid {
    color: #D31414;
    border: .7px solid #D31414;
  } */

.first_subscribe button {
    max-width: 129px;
    max-height: 42px;
    padding: 10px 39px;
    background: #F1F3F2;
    border: 1px solid #D31414;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #D31414;
    margin-left: 10px;
    cursor: pointer;
}

.first_subscribe button {
    max-width: 129px;
    max-height: 42px;
    padding: 10px 39px;
    background: #F1F3F2;
    border: 1px solid #000000;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-left: 10px;
    cursor: pointer;
    transition: .3s ease;
}

.first_subscribe button:active {
    max-width: 129px;
    max-height: 42px;
    padding: 10px 39px;
    background: #F1F3F2;
    border: 1px solid #4B9200;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #4B9200;
    margin-left: 10px;
    cursor: pointer;
}

.testimonials-button {
    width: 298px;
    max-height: 54px;
    background: #FE9013;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 0px;
    border: none;
    cursor: pointer;
    transition: .3s ease;
    margin-top: 31px;
}

.testimonials-button:hover {
    background: #E47209;
    transition: .3s ease;
}

.testimonials-button:active {
    background: #4B9200;
    transition: .3s ease;
}

.testimonials-button:disabled {
    background: #767474;
    cursor: default;
}

.footer-second {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 44px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
    margin: 0;
}

.footer-links li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    flex-direction: row;
    cursor: pointer;
}

.footer-links a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    cursor: pointer;
    transition: .3s ease;
}

.footer-links a:hover {
    color: #4B9200;
}

.footer-links div {
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
}

.footer-links div:hover {
    background: #4B9200;
}

.footer-navigation {
    max-width: 362px;
    display: flex;
    justify-content: space-between;
    gap: 58px;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.footer-navigation a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

.footer-navigation a:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.footer-second_link {
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    min-width: 220px;
    text-decoration: none;
    cursor: pointer;
    transition: .3s ease;
}

.footer-second_link:hover {
    text-decoration: underline;
    color: #4B9200;
}